*{
   color: white;
}
header a img{
   height: 6em;
   float: left;
}
header h1{
   font-size: 3em;
   padding-top: 1em;
   padding-left: 5em;
}
body a{
   padding-left: 2em;
   font-size: 2em;
}
#laws{
 margin-top: 2em;
 width: 30em;
 padding-left: 1em;
 border: 1px double black;
 float: left;
}
table{
   margin: 0 auto;
}
th {
    border: 1px solid grey;
 }
 td {
    border: 1px solid grey;
 }